body{background-color:white;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;}
    .main{text-decoration: none;
        margin-left: 300px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;}
    .top{background-color: #033a97;
    height: 70px;
    display: flex;
    position: sticky;
 top: 0;
 bottom: 0;
}
.Name{text-align:center ;
    color: white;
    font-size: 50px; 
    margin-left: 600px;
    font-family:serif;
}
.words{margin-left: 20px;}

@media (max-width: 480px) {
    .Name{font-size: 30px;
        margin-left: 120px;
    margin-top: 10px;
    display: flex;}
    .main{margin-left: 60px;
    font-size: 10px;
    text-decoration: none;}
        .w3-content {
          max-width: 100%;
        }
        .words h2 , .words h3{font-size: 15px;}
      }
  
  
  @media (max-width: 320px) {
    .w3-button {
      font-size: 12px;
    }
  }
  